{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>Shadow</h1>
        <p>Shadow the Hedgehog es un personaje ficticio de la serie de videojuegos Sonic the Hedgehog de Sega. Es un erizo negro y rojo creado artificialmente, cuyas zapatillas flotantes lo impulsan a velocidades extremas que rivalizan con las de Sonic.​</p>
    </div>
    <div class="col-4">
        <img src="assets/img/shadow.jpg" class="img-thumbnail">
    </div>
</div>

{{> footer }}